<template>
  <div class="clipper-login-index">
    <div class="clipper-login-box">
      <a class="btn-close" href="javascript:void(null);" @click="closeFrame"></a>
      <div class="clipper-login-head">
        <img src="//www.tangyuxin.top/design/images/logo-web-clipper.svg">
        <span class="login-title">测试</span>
        <img class="img-separator" src="//www.tangyuxin.top/design/images/separator.png">
        <span class="login-title">素材获取</span>
      </div>
      <div class="clipper-login-form">
        <el-form>
          <el-form-item>
            <el-input v-model="account" placeholder="账号"></el-input>
          </el-form-item>
          <el-form-item>
            <el-input v-model="password" placeholder="密码" type="password"></el-input>
          </el-form-item>
          <el-form-item>
            <el-checkbox class="auto-login" v-model="auto_login">自动登录</el-checkbox>
            <el-button class="btn-forget pull-right" type="text">忘记密码?</el-button>
          </el-form-item>
          <el-form-item>
            <el-button class="btn-login" @click="login">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
import Util from '@/util/util'
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'itemClipper',
  data () {
    return {
      account: '',
      password: '',
      item_id: '',
      auto_login: false
    }
  },
  computed: {
    ...mapState('source', {
      source: state => state.source
    })
  },
  created () {
    this.item_id = this.$route.query.id || ''
    this.auto_login = window.localStorage.getItem('auto_login')
    window.addEventListener('message', (e) => {
      this.setSource(e.data)
    })
    if (this.auto_login) {
      this.account = window.localStorage.getItem('account')
      this.password = window.localStorage.getItem('password')
      this.login()
    }
  },
  methods: {
    ...mapMutations('source', [
      'setSource'
    ]),
    async login () {
      let res = await Util.asyncRequestStrict('clipper/checkLogin', {
        account: this.account,
        password: this.password
      })
      if (Number(res.state) !== 1) {
        return false
      }
      if (this.auto_login) {
        window.localStorage.setItem('auto_login', this.auto_login)
        window.localStorage.setItem('account', this.account)
        window.localStorage.setItem('password', this.password)
      }
      this.$router.push({ name: 'clipperMain', query: {'id': this.item_id} })
    },
    closeFrame () {
      window.parent.postMessage('close', this.source)
    }
  }
}
</script>
<style>
.clipper-login-index .clipper-login-box .el-form-item{margin-bottom:20px;line-height:26px;}
</style>
<style scoped>
.clipper-login-index img{vertical-align:-5px;margin:-1px 0 1px;}
.clipper-login-index{width:279px;font-size:12px;}
.clipper-login-index .clipper-login-box{width:220px;padding:0 20px 0 29px;position:relative;}
.clipper-login-index .clipper-login-box .btn-close{position:absolute;z-index:1;top:15px;right:10px;width:40px;height:40px;}
.clipper-login-index .clipper-login-box .btn-close::before,
.clipper-login-index .clipper-login-box .btn-close::after{content:'';position:absolute;z-index:2;top:50%;left:50%;width:40%;height:2px;background-color:#999;-webkit-transform:translate(-50%,-50%) rotate(45deg);-ms-transform:translate(-50%,-50%) rotate(45deg);-o-transform:translate(-50%,-50%) rotate(45deg);transform:translate(-50%,-50%) rotate(45deg);}
.clipper-login-index .clipper-login-box .btn-close::after{height:40%;width:2px;}
.clipper-login-index .clipper-login-box .clipper-login-head{padding-top:26px;display:inline-block;zoom:1;font-weight:600;}
.clipper-login-index .clipper-login-box .clipper-login-head .login-title{margin-left:10px;font-size:12px;color:#758090;}
.clipper-login-index .clipper-login-box .clipper-login-head .img-separator{margin-left:10px;}

.clipper-login-index .clipper-login-box .clipper-login-form{margin-top:20px;}
.clipper-login-index .clipper-login-box .clipper-login-form .btn-forget{font-size:12px;color:#4e93e2;}
.clipper-login-index .clipper-login-box .clipper-login-form .btn-login{background-color:#398dee;color:#fff;height:40px;width:100%;}
</style>
