<template>
  <div class="clipper-main-index">
    <div class="clipper-main-box">
      <a
        class="btn-close"
        href="javascript:void(null);"
        @click="closeFrame"
      ></a>
      <div class="clipper-main-head">
        <img src="//www.tangyuxin.top/design/images/logo-web-clipper.svg" />
        <span class="main-title">测试</span>
        <img
          class="img-separator"
          src="//www.tangyuxin.top/design/images/separator.png"
        />
        <span class="main-title">商品素材抓取</span>
      </div>
      <div class="clipper-main-content">
        <div class="main-head">此商品素材已保存</div>
        <div class="main-box">
          <img class="img-photo" :src="itemData.photo" />
          <div class="text-box">
            <p class="text-content">{{ itemData.name }}</p>
          </div>
        </div>
        <p class="tip-text">
          素材包含：商品图片、商品名称、产品参数、图文详情等
        </p>
        <a class="btn-tool create" href="javascript:void(null);"
          >快速创建商品</a
        >
        <a class="btn-tool" href="javascript:void(null);">查看素材库</a>
      </div>
    </div>
  </div>
</template>
<script>
import Util from '@/util/util'
import { mapState } from 'vuex'
export default {
  name: 'clipperMain',
  data () {
    return {
      itemData: {},
      item_id: ''
    }
  },
  computed: {
    ...mapState('source', {
      source: state => state.source
    })
  },
  created () {
    this.item_id = this.$route.query.id || ''
    this.getItemData()
  },
  methods: {
    async getItemData () {
      let res = await Util.asyncRequestStrict('clipper/getItemData', {
        item_id: this.item_id
      })
      if (Number(res.state) !== 1) {
        return false
      }
      this.itemData = res.data
      this.dealData()
    },
    dealData () {
      Object.keys(this.itemData).forEach(ele => {
        if (ele !== 'name' && ele !== 'photo') {
          this.itemData[ele] = JSON.parse(this.itemData[ele])
        }
      })
    },
    closeFrame () {
      window.parent.postMessage('close', this.source)
    }
  }
}
</script>
<style scoped>
.clipper-main-index img {
  vertical-align: -5px;
  margin: -1px 0 1px;
}
.clipper-main-index {
  width: 279px;
  font-size: 12px;
  color: #758090;
  text-align: center;
}
.clipper-main-index .clipper-main-box {
  width: 220px;
  padding: 0 20px 0 29px;
  position: relative;
}
.clipper-main-index .clipper-main-box .btn-close {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
}
.clipper-main-index .clipper-main-box .btn-close::before,
.clipper-main-index .clipper-main-box .btn-close::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 2px;
  background-color: #999;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.clipper-main-index .clipper-main-box .btn-close::after {
  height: 40%;
  width: 2px;
}
.clipper-main-index .clipper-main-box .clipper-main-head {
  padding-top: 26px;
  display: inline-block;
  zoom: 1;
  font-weight: 600;
}
.clipper-main-index .clipper-main-box .clipper-main-head .main-title {
  margin-left: 10px;
  font-size: 12px;
}
.clipper-main-index .clipper-main-box .clipper-main-head .img-separator {
  margin-left: 10px;
}
.clipper-main-index .clipper-main-box .clipper-main-content .main-head {
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 30px;
  text-align: center;
}
.clipper-main-index .clipper-main-box .clipper-main-content .main-box {
  padding: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.clipper-main-index
  .clipper-main-box
  .clipper-main-content
  .main-box
  .img-photo {
  width: 60px;
  height: 60px;
  float: left;
}
.clipper-main-index
  .clipper-main-box
  .clipper-main-content
  .main-box
  .text-box {
  margin-left: 68px;
  padding-top: 8px;
}
.clipper-main-index
  .clipper-main-box
  .clipper-main-content
  .text-box
  .text-content {
  line-height: 25px;
  font-size: 15px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.clipper-main-index .clipper-main-box .clipper-main-content .tip-text {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 18px;
  text-align: left;
}
.clipper-main-index .clipper-main-box .clipper-main-content .btn-tool {
  display: block;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #bfcbd9;
  border-radius: 4px;
  margin-bottom: 10px;
}
.clipper-main-index .clipper-main-box .clipper-main-content .btn-tool.create {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
}
</style>
