<template>
  <div id="app">
    <div class="wrapper">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
* {
  margin: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.wrapper-container {
  margin-top: 60px;
}
.wrapper a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  color: #337ab7;
}
.wrapper a:link,
.wrapper a:visited,
.wrapper a:hover,
.wrapper a:active {
  text-decoration: none;
  outline: none;
}
.wrapper p,
.wrapper dl,
.wrapper dd {
  margin: 0;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

.wrapper-container {
  position: relative;
  height: calc(100vh - 60px);
  overflow: auto;
}
</style>
