<template>
  <router-view></router-view>
</template>

<script>
export default {
  name: '',
  props: {
  },
  components: {
  },
  data () {
    return {
    }
  },
  computed: {
  },
  watch: {
  },
  created () {
  },
  methods: {
  }
}
</script>

<style scoped>
</style>
